@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.main {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    margin: 15px;
}
.nav-item {
    font-size: 2em;
}
.btn-back {
    background-color: orange;
    border-radius: 15px;
}
.bloc {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.presentation {
    text-align: start;
}
.hello {
    font-size: 5em;
    margin-bottom: 50px;   
}
.name {
    font-size: 8em;
}
.txt-intro {
    text-align: end;
}
img {
    width: 500px;
    border-radius: 20px;
    object-fit: fill;
}
.project-inc {
    display: flex;
    justify-content: space-around;
}
.orange {
    color: orange;
    font-size: 3em;
    text-decoration: none;
}
.orange:hover {
    color: red;
}
.about-me{
    text-align: start;
}
footer {
    background-color: #212529;
    color: white;
    margin-top: 20px;
    font-size: 2em;
    padding: 20px;
}
.foot {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.project-img {
    width: 80%;
}
.contact {
    margin-bottom: 50px;
}
.figure-projet {
    margin-bottom: 25px;
    width:100%;
    border: #212529 1px solid;
    border-radius: 20px 0px 20px 20px;
}
.padd {
    padding: 20px;
}
.gihub {
    position: absolute;
    left: -25px;
    bottom: 30px;
    color: orange;
}

.angle {
    color:white;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 60px solid #212529;
    border-left : 60px solid transparent;
}

.figure-projet {
    position: relative;
}
.project-img{
    padding: 20px;
}
