@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.main {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    margin: 15px;
}
.nav-item {
    font-size: 2em;
}
.btn-back {
    background-color: orange;
    border-radius: 15px;
}
.bloc {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.presentation {
    text-align: start;
}
.hello {
    font-size: 5em;
    margin-bottom: 50px;   
}
.name {
    font-size: 8em;
}
.txt-intro {
    text-align: end;
}
img {
    width: 500px;
    border-radius: 20px;
    object-fit: fill;
}
.project-inc {
    display: flex;
    justify-content: space-around;
}
.orange {
    color: orange;
    font-size: 3em;
    text-decoration: none;
}
.orange:hover {
    color: red;
}
.about-me{
    text-align: start;
}
footer {
    background-color: #212529;
    color: white;
    margin-top: 20px;
    font-size: 2em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot {
    display: flex;
    list-style: none;
}

.link{
    display: flex;
    margin: 20px;
}
.link2 {
    margin: 0px 15px;
}

.project-img {
    width: 80%;
}
.contact {
    margin-bottom: 50px;
}
.figure-projet {
    margin-bottom: 25px;
    width:100%;
    border: #212529 1px solid;
    border-radius: 20px 0px 20px 20px;
}
.padd {
    padding: 20px;
}
.gihub {
    position: absolute;
    left: -25px;
    bottom: 30px;
    color: orange;
}

.angle {
    color:white;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 60px solid #212529;
    border-left : 60px solid transparent;
}

.figure-projet {
    position: relative;
}
.project-img{
    padding: 20px;
}
.imgCar {
    padding: 50px 150px 200px 150px;
    height:800px;
    object-fit: contain;
}
#test {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    transform-origin: 50% 50%;
}
 
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
 
.rotating {
    -webkit-animation: rotating 2s linear infinite;
}
#test:hover{
    animation-play-state: paused;
}

body { background: #E9E5E2;margin:2%; }

#SkillBox {
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    width: 95%;
    height: auto;
    margin: 40px auto;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    padding: 10px;
    border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;  
}
#SkillBox img {
    width: 20%;
    height: 10%;
    margin: auto 35%;
    padding: 10px;
}
.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}
#Skill-HTML {
    width: 100%;
    animation: Animate-HTML 4s;
    -webkit-animation: Animate-HTML 4s;
    -moz-animation: Animate-HTML 4s;
    -o-animation: Animate-HTML 4s;
    height: 50px;
    position: absolute;
    background-color: #e34c26;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}#Skill-CSS {
    animation: Animate-CSS 5s;
    -webkit-animation: Animate-CSS 5s;
    -moz-animation: Animate-CSS 5s;
    -o-animation: Animate-CSS 5s;
    width: 90%;
    height: 50px;
    position: absolute;
    background-color:#264de4 ;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 90%}
}#Skill-Bootstrap {
    animation: Animate-Bootstrap 5s;
    -webkit-animation: Animate-Bootstrap 5s;
    -moz-animation: Animate-Bootstrap 5s;
    -o-animation: Animate-Bootstrap 5s;
    width: 85%;
    height: 50px;
    position: absolute;
    background-color: #563d7c;
}
@keyframes Animate-Bootstrap {
    from {
    width: 10px;
}
to {
    width: 85%}
}@-webkit-keyframes Animate-Bootstrap {
    from {
    width: 10px;
}
to {
    width: 85%}
}@-moz-keyframes Animate-Bootstrap {
    from {
    width: 10px;
}
to {
    width: 85%}
}@-o-keyframes Animate-Bootstrap {
    from {
    width: 10px;
}
to {
    width: 85%}
}#Skill-JS {
    animation: Animate-JS 4s;
    -webkit-animation: Animate-JS 4s;
    -moz-animation: Animate-JS 4s;
    -o-animation: Animate-JS 4s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #f0DB4F;
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 70%}
}#Skill-Vuejs {
    animation: Animate-Vuejs 4s;
    -webkit-animation: Animate-Vuejs 4s;
    -moz-animation: Animate-Vuejs 4s;
    -o-animation: Animate-Vuejs 4s;
    width: 65%;
    height: 50px;
    position: absolute;
    background-color: #5aa669;
}
@keyframes Animate-Vuejs {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-webkit-keyframes Animate-Vuejs {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-moz-keyframes Animate-Vuejs {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-o-keyframes Animate-Vuejs {
    from {
    width: 10px;
}
to {
    width: 65%}
}#Skill-NODEJS {
    animation: Animate-NODEJS 4s;
    -webkit-animation: Animate-NODEJS 4s;
    -moz-animation: Animate-NODEJS 4s;
    -o-animation: Animate-NODEJS 4s;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #5A69A6;
}
@keyframes Animate-NODEJS {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-webkit-keyframes Animate-NODEJS {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-moz-keyframes Animate-NODEJS {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-o-keyframes Animate-NODEJS {
    from {
    width: 10px;
}
to {
    width: 50%}
}#Skill-SQL {
    animation: Animate-SQL 4s;
    -webkit-animation: Animate-SQL 4s;
    -moz-animation: Animate-SQL 4s;
    -o-animation: Animate-SQL 4s;
    width: 55%;
    height: 50px;
    position: absolute;
    background-color: #23b1db;
}
@keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 55%}
}@-webkit-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 55%}
}@-moz-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 55%}
}@-o-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 55%}
}#Skill-MDB {
    animation: Animate-MDB 4s;
    -webkit-animation: Animate-MDB 4s;
    -moz-animation: Animate-MDB 4s;
    -o-animation: Animate-MDB 4s;
    width: 60%;
    height: 50px;
    position: absolute;
    background-color: #3c873a;
}
@keyframes Animate-MDB {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-webkit-keyframes Animate-MDB {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-moz-keyframes Animate-MDB {
    from {
    width: 10px;
}
to {
    width: 60%}
}@-o-keyframes Animate-MDB {
    from {
    width: 10px;
}
to {
    width: 60%}
}.Skill-Area {
    z-index: 1;
    float: left;
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    font-family: Lato-Regular, sans-serif;
    font-size: 18px;
}